.advantages {
  padding: 60px 0px 60px;

  @media screen and (min-width: $desktop-width) {
    padding: 94px 0px 94px;
  }
}

.advantages-section {
  padding: 0px;
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: $desktop-width) {
    display: inline-block;
    display: flex;
    padding: 0px;
  }
}

.advantages-item {
  @media screen and (min-width: $tablet-width) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
    width: 354px;
  }
  &:nth-child(-n + 2) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $desktop-width) {
    width: 270px;
  }
  &:not(:last-child) {
    @media screen and (min-width: $desktop-width) {
      margin-right: 30px;
    }
  }
}
// .advantages-section > .advantages-item:not(:last-child) {
//   @media screen and (max-width: 767px) {
//     margin-bottom: 30px;
//   }
// }

// .advantages-section > .advantages-item:nth-child(2n + 1) {
//   @media screen and (min-width: $tablet-width) {
//     margin-right: 30px;
//   }
//   @media screen and (min-width: $desktop-width) {
//     margin-right: 0px;
//   }
// }

// .advantages-section > .advantages-item:nth-child(-n + 2) {
//   @media screen and (min-width: $tablet-width) {
//     margin-bottom: 30px;
//   }
//   @media screen and (min-width: $desktop-width) {
//     margin-bottom: 0px;
//   }
// }

// .advantages-section > .advantages-item:not(:last-child) {
//   @media screen and (min-width: $desktop-width) {
//     margin-right: 30px;
//   }
// }

// .advantages-item {
//   @media screen and (min-width: $tablet-width) {
//     width: 354px;
//   }
//   @media screen and (min-width: $desktop-width) {
//     width: 270px;
//   }
// }

.advantages-icons {
  // display: inline-block;
  width: 450px;
  height: 120px;
  background-color: $button-background;
  margin-bottom: 30px;
  padding: 25px 190px;
  border-radius: 4px;
  @media screen and (min-width: $tablet-width) {
    width: 354px;
    padding: 25px 142px;
    margin-right: 0px;
  }
  @media screen and (min-width: $desktop-width) {
    display: inline-block;
    width: 270px;
    padding: 25px 100px;
  }
}

.advantages-title {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $tablet-width) {
    text-align: left;
  }
}

.advantages-text {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.72;
  color: $main-text-color;
}

.visually-hidden {
  position: absolute;
  clip: rect (0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
