.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background-color;

  &-set {
    @media screen and (min-width: $desktop-width) {
      display: flex;
    }
  }

  &-blocks {
    @media screen and (min-width: $desktop-width) {
      display: flex;
      align-items: flex-start;
    }
  }
}
