.footer-nav {
  padding: 0px;
  margin-right: 0;
}

.footer-list {
  padding: 0px;

  margin-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 0px;
  }
}

.adress-footer {
  margin: 20px 0px 9px 0px;
  padding-right: 15px;
}

.adress-footer,
.contacts-footer {
  line-height: 1.71;
  font-style: inherit;
  color: $white-color;
}

.adress-bottom {
  margin: 0px 0px 9px 0px;
  padding: 0px;
}

.adress-bottom:last-child {
  margin-bottom: 0px;
}

.contacts-footer.difference {
  color: rgba(255, 255, 255, 0.6);
}
