.header-menu {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;

  &-icon {
    fill: currentColor;
  }

  &-icon:hover,
  &-icon:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $tablet-width) {
    display: none;
  }
  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.menu-modal.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-modal {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 796px;
  background-color: #000000;
}

.menu-modal-close {
  fill: currentColor;
  transition-property: color;
  transition: color $animation-duration $transition-timing-function;
}

.menu-modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: none;
  background-color: $white-color;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
