.header > .container {
  display: flex;
  align-items: center;
}

.adress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0px 32px 0px;
  padding: 0px;
}

.adress {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.adress.difference {
  color: $main-text-color;
}

.adress-container > .adress:not(:last-child) {
  margin-right: 30px;
  padding: 0px;
}

.nav {
  display: inline-block;
  display: flex;
  padding: 0px;

  &-link {
    position: relative;
  }

  &-link:hover,
  &-link:focus {
    color: $accent-color;
  }
}

.nav-link.current {
  color: $accent-color;
}

.nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  padding: 0;
  margin-top: 28.5px;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
  border-radius: 2px;
}

.site-nav {
  display: inline-block;
  display: flex;
  margin: 32px 305px 32px 0px;
  padding: 0px;
  border: 0px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.icon-envelope,
.icon-smartphone {
  margin: 0px 10px 0px 0px;
  fill: currentColor;
}

.nav-link,
.adress {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-color;
  transition-property: color;
  transition: color $animation-duration $transition-timing-function;
}
