.adress-container {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px 32px 0px;
    padding: 0px;
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px 32px 0px;
    padding: 0px;
  }
}
