.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  // width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: $hero-background;
  background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: cover;

  @media screen and (min-width: $desktop-width) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;

  @media screen and (min-width: $tablet-width) {
    margin: 0px 204px 30px;
  }
  @media screen and (min-width: $desktop-width) {
    margin: 0px 250px 30px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: inline-block;
  display: flex;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  // margin-bottom: 118px;
  font: inherit;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;
  background-color: $accent-color;
}
