$title-color: #212121;
$white-color: #ffffff;
$main-text-color: #757575;
$accent-color: #2196f3;
$logo-part-two-color: #000000;
$footer-background-color: #2f303a;
$button-background: #f5f4fa;
$hero-background: #c4c4c4;
$hero-gradient: rgba(47, 48, 58, 0.4);
$social-media: #afb1b8;
$footer-links-background: rgba(255, 255, 255, 0.1);
$animation-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$logo-font: "Raleway", sans-serif;
$tablet-width: 768px;
$desktop-width: 1200px;
